@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --shark-color: #20252b;
    --dark-shark-color: #1c2127;
    --grey-color: #9e9e9e4d;
    --pink-color: #ec3c4b;
    --white-color: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    color: var(--white-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
button:hover{
    opacity: 0.9;
}
.nav-brand{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-menu{
    background-color: var(--shark-color);
    box-shadow: 0px 10px 7px 0px rgba(56, 56, 56, 0.3);
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shark-color);
    padding: 60px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

/* show overlay js */
.show-overlay{
    opacity: 1;
    visibility: visible;
}

.nav-overlay-container{
    background-color: var(--dark-shark-color);
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}
#menu-hide-btn{
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--dark-shark-color);
}
.nav-links li{
    margin: 16px 0;
    position: relative;
}
.nav-links li::before, .nav-links li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--pink-color);
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.nav-links li::before{
    top: 0;
    left: 0;
}
.nav-links li::after{
    bottom: 0;
    right: 0;
}
.nav-links li:hover::before, .nav-links li:hover::after{
    width: 75%;
    opacity: 1;
}
.nav-links li a{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
}
.nav-links li:hover a{
    color: var(--pink-color);
}
.nav-icons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.nav-icons li{
    border: 1px solid var(--grey-color);
    width: 35px;
    height: 35px;
    margin: 0 5px;
    line-height: 35px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}
.nav-icons li:hover{
    background-color: var(--pink-color);
    border-color: var(--pink-color);
}

@media(max-width: 600px){
    .nav-links li a{
        font-size: 22px;
    }
    .nav-overlay{
        padding: 30px;
    }
}